# Auto detect text files and perform LF normalization
* text=auto

# Code
*.rs text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.toml text eol=lf

# Binaries
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
